@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    padding:0;
    margin:0;
}

* {
    box-sizing: border-box;
}

.card {
    @apply mb-5 block rounded-lg border border-gray-400 hover:shadow-md 
}

.primary-button {
    @apply rounded text-white bg-purple-400 py-2 px-4 shadow outline-none hover:bg-purple-500 active:bg-purple-700
  }
  .default-button{
    @apply rounded bg-gray-400 py-2 px-4 text-black shadow outline-none hover:bg-gray-600 active:bg-gray-800
 }
  .login-button {
    @apply rounded text-white bg-purple-400 py-2 px-4 shadow outline-none hover:bg-purple-500 active:bg-purple-700
  }
  .delete-button {
    @apply rounded  bg-red-600 py-2 px-4 shadow outline-none hover:bg-red-400 active:bg-red-600;
  }
  .edit-button {
    @apply rounded  bg-green-300 py-2 px-4 shadow outline-none hover:bg-green-500 active:bg-green-800;
  }
  .dropdown-link {
    @apply flex p-2 bg-purple-300 hover:bg-purple-500 bg-opacity-80 hover:bg-opacity-80 ;
}
.nav-bar {
  @apply flex p-2 text-gray-600 hover:text-purple-500
 }
.alert-error {
  @apply  my-3 rounded-lg bg-red-600 p-3 text-red-300;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-500 p-3 text-green-700;
}

  input,
select,
textarea {
    @apply rounded border p-2 outline-none ring-purple-400 focus:ring;
}
